<div fxFlex="100%" class="auth-box auth-login-box" *ngIf="loginForm">
    <h2 class="h3 mb-3 text-black">Login</h2>
    <form [formGroup]="loginForm">
        <div fxLayout="row" fxLayoutAlign="start">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>User Name</mat-label>
                <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email"
                    type="email">

                <mat-error id="invalidEmailError" *ngIf="loginForm.controls['email'].hasError('email')">
                    Please enter a valid email address
                </mat-error>
                <mat-error id="requiredEmailError" *ngIf="loginForm.controls['email'].hasError('required')">
                    Email is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Password</mat-label>
                <input id="passwordInput" matInput placeholder="Password" formControlName="password" type="password"
                autocomplete="current-password">
                  <mat-error id="requiredPasswordError" *ngIf="loginForm.controls['email'].hasError('required')">
                Password is
                <strong>required</strong>
            </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start">
            <mat-slide-toggle formControlName="rememberMe">Remember my email address</mat-slide-toggle>
        </div>
        <br>
        <div fxLayout="row" fxLayoutAlign="start">
           
            <button class="btn btn-dark" (click)="register()">Register</button>
            <button class="btn btn-dark" (click)="resetPassword()">Reset Password</button>
        </div>
        <br>
        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
             <button mat-raised-button color="warn" (click)="onDismiss()">Close</button>
            <button mat-raised-button id="login" color="primary" [disabled]="loginForm.invalid || loading"
            (click)="login()">Login</button>

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </div>
    </form>

</div>