<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-around ">
    <form [formGroup]="form">
        
        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <!-- </div>
        <div fxLayout="row" fxLayoutGap="10px"> -->
            <div fxFlex="50" fxLayoutGap="10px">
                <mat-label>Product Type</mat-label>
                <mat-button-toggle-group *ngIf="productTypes" multiple=false formControlName="productTypeId"  >
                    <mat-button-toggle *ngFor="let item of productTypes;" [value]="item.value" (change)="onProductTypeChange(item)">
                        {{item.key}}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <mat-form-field appearance="outline" *ngIf="categories.length > 0" fxFlex="25">
                <mat-label>Categories</mat-label>
                <mat-select formControlName="categoryId">
                    <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name
                        }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <ng-container *ngIf="isReguler">
            <div fxLayout="row" fxLayoutAlign="start" *ngIf="venues.length > 0">
                <mat-form-field appearance="outline" fxFlex="50">
                    <mat-label>Venue</mat-label>
                    <mat-select formControlName="venueId" (selectionChange)="onVenueChange($event.value)">
                        <mat-option *ngFor="let venue of venues" [value]="venue.id">{{ venue.stadiumName
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
                <mat-form-field appearance="outline" *ngIf="teams.length > 0" fxFlex="25">
                    <mat-label>Team1</mat-label>
                    <mat-select formControlName="team1Id">
                        <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.name
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="teams.length > 0" fxFlex="25">
                    <mat-label>Team2</mat-label>
                    <mat-select formControlName="team2Id">
                        <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.name
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field appearance="outline" floatLabel="auto">
                    <mat-label>From Date</mat-label>
                    <input type="datetime-local" matInput name="fromTime"   formControlName="startDateTime">
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="auto">
                    <mat-label>From Date</mat-label>
                    <input type="datetime-local" matInput name="toTime"  formControlName="endDateTime">
                </mat-form-field>
                <!-- <mat-form-field appearance="outline" fxFlex="25">
                    <mat-label>Start Date Time</mat-label>
                    <input matInput [matDatepicker]="startDateTimepicker" formControlName="startDateTime">
                    <mat-datepicker-toggle matSuffix [for]="startDateTimepicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDateTimepicker></mat-datepicker>
                </mat-form-field> 
                <mat-form-field appearance="outline" fxFlex="25">
                    <mat-label>End Date Time</mat-label>
                    <input matInput [matDatepicker]="endDateTimepicker" formControlName="endDateTime">
                    <mat-datepicker-toggle matSuffix [for]="endDateTimepicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDateTimepicker></mat-datepicker>
                </mat-form-field>-->
            </div>
        </ng-container>

        <!-- <ng-container *ngIf="!isReguler">
            <div fxLayout="row" fxLayoutAlign="start" >
            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Select Products</mat-label>
                <mat-select [(ngModel)]="productIds" [ngModelOptions]="{standalone: true}" multiple>
                  <mat-option *ngFor="let product of regularProducts" [value]="product.id">{{ product.name}} {{ product.team1Id}} {{
                    product.team2Id}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
                <button mat-button mat-raised-button color="primary" matStepperPrevious (click)="loadCategoriesByProduct()">Load
                  category</button>
              </div>
            </div>

        </ng-container> -->
        <div fxLayout="row">
            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Schedule Date Time</mat-label>
                <input matInput [matDatepicker]="scheduleDateTimepicker" formControlName="scheduleDateTime">
                <mat-datepicker-toggle matSuffix [for]="scheduleDateTimepicker"></mat-datepicker-toggle>
                <mat-datepicker #scheduleDateTimepicker></mat-datepicker>
            </mat-form-field>
        <!-- </div>
        <div fxLayout="row" fxLayoutGap="10px"> -->
           <div style="margin-left:30px;" fxLayoutGap="20px">
            <mat-label>file</mat-label>
            <!-- <img width="150" height="150" src="{{fileName.url}}" *ngIf="fileName.url" > 
            <img width="150" height="150" src="{{defaulturl}}" *ngIf="!fileName.url">  -->
            <app-mat-file-Upload [files]="files" (uploadFileEvent)="uploadFile($event)"
                (removeFileEvent)="removeFile($event)"></app-mat-file-Upload>
            </div> 
        </div>
        <div fxLayout="row" fxLayoutAlign="start">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Description</mat-label><textarea matInput placeholder="Description"
                    formControlName="description"></textarea>
            </mat-form-field>
        </div>
    </form>
</div>