<div class="site-blocks-cover" data-aos="fade">
  <img src="{{model?.file?.url}}" alt="Image" class="img-product-detail">
</div>

<div class="site-section">
  <div class="container">

    <div class="row">
      <div class="col-6 ">
        <div class="align-items-center align-middle">
          <img *ngIf="selectedProductTicketCategory" src="{{selectedProductTicketCategory?.file?.url}}" alt="Image"
            class="img-fluid  category-image">
          <img *ngIf="!selectedProductTicketCategory" src="./assets/images/01.png" alt="Image"
            class="img-fluid category-image">
        </div>
      </div>
      <div class="col-md-6">
        <div class="row" *ngIf="model ">
          <!-- <h2 class="mb-4 text-black">{{model?.name}}</h2>
          <p class="mb-2"> <span>{{model?.venueDetail?.stadiumName}} </span>{{model?.venueDetail?.location}}</p>
          <p class="mb-2"><i class="icon icon-calendar mr-2"></i>{{model?.startDateTime | date:'MMM-dd-yyyy hh:mm:a'}}
          </p> -->
          <app-product-information-short [product]="model"> </app-product-information-short>
          <p>{{model?.description}}</p>
          <p><strong class="text-danger h4">${{ticketPrice}}</strong></p>
        </div>
        <div class="row">
          <app-product-ticket-category-list [productTicketCategories]="model?.productTicketCategories"
            [selectedProductTicketCategorId]="selectedProductTicketCategoryId"
            (changeProductTicketCategory)="selectedProductTicketCategorytegory($event)">
          </app-product-ticket-category-list>
        </div>
        <div class="row ">
          <div class=" input-group " style=" width: 33.33%; max-width: 150px;">
            <div class="input-group-prepend">
              <button class="btn btn-secondary active js-btn-minus" type="button" (click)="decreaseQuantity()">−</button>
            </div>
            <input type="text" disabled class="form-control text-center" [(ngModel)]="quantity" placeholder=""
              aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="input-group-append">
              <button class="btn btn-secondary active js-btn-plus" type="button" (click)="increaseQuantity()">+</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 input-group" *ngIf="totalPrice>0">
            <p>Total Amount : {{totalPrice}}</p>
          </div>
        </div>
        <div class="row ">
          <div class="col-4 input-group">
            <button (click)="addToCart()" class="buy-now btn btn-sm btn-secondary active">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-section" *ngIf="model?.productComboDetails">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Matches</h2>
      </div>
    </div>
    <div class="row">
      <ng-container  *ngFor="let product of model?.productComboDetails">
        <div class="col-sm-4 col-lg-4 mb-4 product-box" data-aos="fade-up" >
            <app-product-information [product]="product"></app-product-information>
        </div>
    </ng-container>
    </div>
  </div>
</div>