<div class="row">
  <div class="col-md-6">
    <img src="{{model?.file?.url}}" alt="Image" class="img-fluid">
  </div>
  <div class="col-md-6" *ngIf="!model?.productComboDetails">
    <!-- <h2 class="text-black">{{model?.name}}</h2>
    <p class="mb-4">{{model?.venueDetail?.stadiumName}}</p>
    <p class="mb-4"><i class="icon icon-calendar mr-2"></i>{{model?.startDateTime | date:'MMM-dd-yyyy hh:mm:a'}}</p>
    <p>{{model?.description}}</p>
    -->

    <table class="table border">
      <thead>
        <td>Match</td>
        <td>Team1</td>
        <td>Team2</td>
        <td>Venue</td>
        <td>Date</td>
      </thead>
      <tr>
        <td> {{model?.name}}</td>
        <td><img src="{{model?.team1Detail?.logo?.url}}" class="product-detail-image"><br> {{model?.team1Detail?.name}}
        </td>
        <td><img src="{{model?.team2Detail?.logo?.url}}" class="product-detail-image"><br> {{model?.team2Detail?.name}}
        </td>
        <td>{{model?.venueDetail?.stadiumName}}</td>
        <td>{{model?.startDateTime | date:'MMM-dd-yyyy'}}<br> {{model?.startDateTime | date:'hh:mm:a'}}</td>
      </tr>
      <tr>
        <td colspan="5">
          {{model?.description}}</td>
      </tr>
    </table>
    <p><strong class="text-danger h4">${{ticketPrice}}</strong></p>



  </div>
  <div class="col-md-6" *ngIf="model?.productComboDetails">
    <h2 class="text-black">{{model?.name}}</h2>
    <div>
      <table class="table border">
        <thead>
          <td>Match</td>
          <td>Team1</td>
          <td>Team2</td>
          <td>Venue</td>
          <td>Date</td>
        </thead>
        <tr *ngFor="let item of model?.productComboDetails">
          <td> {{item?.name}}</td>
          <td><img src="{{item?.team1Detail.logo?.url}}" class="product-detail-image"><br> {{item?.team1Detail?.name}}
          </td>
          <td><img src="{{item?.team2Detail.logo?.url}}" class="product-detail-image"><br> {{item?.team2Detail?.name}}
          </td>
          <td>{{item?.venueDetail?.stadiumName}}</td>
          <td>{{item?.startDateTime | date:'MMM-dd-yyyy'}}<br> {{item?.startDateTime | date:'hh:mm:a'}}</td>
        </tr>
        <tr>
          <td colspan="5">
            {{model?.description}}</td>
        </tr>
      </table>
      <!-- <h4 class="text-black">{{item?.name}}</h4> 
      <span class="mb-4">{{item?.team1Detail?.name}}</span> vs
      <span class="mb-4">{{item?.team2Detail?.name}}</span><br>
      <span class="mb-4">{{item?.venueDetail?.stadiumName}}</span><br>
      <span class="mb-4"><i class="icon icon-calendar mr-2"></i>{{item?.startDateTime | date:'MMM-dd-yyyy hh:mm:a'}}</span>
      <span>{{model?.description}}</span> -->
    </div>
    <p><strong class="text-danger h4">${{ticketPrice}}</strong></p>
  </div>
</div>

<div class="row pt-5">
  <div class="col-md-6" style="text-align: center;">
    <img *ngIf="selectedProductTicketCategory" src="{{selectedProductTicketCategory?.file?.url}}"
      style="width: 60% !important;" alt="Image" class="img-fluid">
    <img *ngIf="!selectedProductTicketCategory" src="./assets/images/01.png" alt="Image" style="width: 60% !important;"
      class="img-fluid">
  </div>
  <div class="col-md-6">
    <div class="mb-1 d-flex">
      <app-product-ticket-category-list [productTicketCategories]="model?.productTicketCategories"
        [selectedProductTicketCategorId]="selectedProductTicketCategoryId"
        (changeProductTicketCategory)="selectedProductTicketCategorytegory($event)"> </app-product-ticket-category-list>
    </div>
    <div class="mb-5">
      <div class="input-group mb-3" style="max-width: 120px;">
        <div class="input-group-prepend">
          <button class="btn btn-outline-danger js-btn-minus" type="button" (click)="decreaseQuantity()">−</button>
        </div>
        <input type="text" class="form-control text-center" [(ngModel)]="quantity" placeholder=""
          aria-label="Example text with button addon" aria-describedby="button-addon1">
        <div class="input-group-append">
          <button class="btn btn-outline-danger js-btn-plus" type="button" (click)="increaseQuantity()">+</button>
        </div>
      </div>
    </div>
    <p *ngIf="totalPrice>0">Total Amount : {{totalPrice}}</p>
    <p><button (click)="addToCart()" class="buy-now btn btn-sm btn-danger">Add To Cart</button></p>

  </div>
</div>