<div class="site-section">
    <div class="container">
        <div>
            <h2 class="text-black text-center">Order History</h2>
        </div>
        <div class="row border  rounded order-history" *ngFor="let order of list">
            <p class="p-lg-4"><strong>Order #: </strong>{{order.id}}<button (click)="detail(order)" class="btn btn-sm btn-secondary active float-right">Order Detail</button></p>
            <div class=" col-md-4">
                <div class="col-md-12">
                   
                    <h4 class="h4 mb-3 text-black">Personal Information</h4>
                    <div class="p-3 p-lg-3 border">
                        <p><strong>Name: </strong>{{order.name}}</p>
                        <p><strong>Email: </strong>{{order.email}}</p>
                        <p><strong>Phone Number: </strong>{{order.phoneNumber}}</p>
                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                <div class="col-md-12">
                    <h4 class="h4 mb-3 text-black">Payment Information</h4>
                    <div class="p-3 p-lg-3 border">
                        <p><strong>Payment: </strong>{{order.paymnetType}}</p> 
                        <p><strong>Order Status: </strong>{{order.orderStatus}}</p>
                        <p *ngIf="order.posTransactionId"><strong>POS Transaction Id: </strong>{{order.posTransactionId}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row mb-5" *ngIf="order.items">
                    <div class="col-md-12">
                        <h4 class="h4 mb-3 text-black">Order Summary</h4>
                        <div class="p-3 p-lg-3 border">
                           
                            <table class="table site-block-order-table">
                                <thead>
                                    <th>Product</th>
                                    <th>Total</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of order.items">
                                        <td>{{item.productDetail?.name}} <strong class="mx-2">x</strong>
                                            {{item.quantity}}</td>
                                        <td>${{item.total}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Gross Total</strong></td>
                                        <td class="text-black font-weight-bold">
                                            <strong>${{order.grossTotal}}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Discount</strong></td>
                                        <td class="text-black font-weight-bold"><strong>${{order.discount}}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                                        <td class="text-black font-weight-bold">
                                            <strong>${{order.grandTotal}}</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <app-custom-paginator [paggerModel]="paggerModel"
            (changePage)="ChangePage($event)"></app-custom-paginator>
        </div>
    </div>
</div>