

/* Set height of wrapper to stop content from moving up & down */

.progress-bar-container {
  height: 5px;
}

a.mat-list-item.active {
  background: rgba(0, 0, 0, .04);
}

.site-layout{
 margin-top: 80px;
}