<div class="col-md-12">
 

    <form [formGroup]="form">
        <h4 class="h3 mb-3 text-black">Reset your password</h4>
        <div class="p-2 p-lg-4 border">
            <div class="input-group">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email"
                        type="email">

                    <mat-error id="invalidEmailError" *ngIf="form.controls['email'].hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error id="requiredEmailError" *ngIf="form.controls['email'].hasError('required')">
                        Email is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
      

        <div class="input-group row">
            <div class="col-md-8">
                <button id="submit" mat-button color="primary" class="btn btn-block" [disabled]="form.invalid || loading"
                    (click)="resetPassword()">Reset Password</button>
            </div>
            <div class="col-md-5">
                <button id="cancel" mat-button (click)="cancel()" class="btn btn-block">Cancel</button>
            </div>
        </div>

    </div>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </form>

</div>