<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <h2 class="h3 mb-3 text-black">Reset your password</h2>
        <form [formGroup]="form">

            <div>

                <mat-form-field class="full-width">
                    <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email"
                        type="email">

                    <mat-error id="invalidEmailError" *ngIf="form.controls['email'].hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error id="requiredEmailError" *ngIf="form.controls['email'].hasError('required')">
                        Email is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
                <button id="submit" mat-raised-button color="primary" [disabled]="form.invalid || loading"
                    (click)="resetPassword()">Reset Password</button>
                <button id="cancel" mat-button (click)="cancel()">Cancel</button>
            </div>


            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </form>
    </div>
</div>