@import "~@angular/material/prebuilt-themes/indigo-pink.css";


  

.site-navbar, .site-footer{
    background-color: #aa000d;
    color: #ffffff;
    background-image: url('./assets/images/bg-pattern.jpg');background-repeat: no-repeat;
    background-size: 100% 100%;
}
.site-navbar a{
    color: #ffffff;
}
.site-navbar .site-logo a {
    border: none;
}

.site-footer {
    padding: 0;
}

 .mt-5, .my-5 {
    padding: 1.5em 0 !important; 
    margin: 0 !important;
}

.p-no-margin{
    margin: 0 !important;
}

.product-box{
   
}

.product-detail-image{
    width: 50px;height: 50px; border-radius: 30px;
}
.product-detail-match-image{
    width: 50px;height: 50px;
}

.auth-box{
    width: 450px;
    .mat-form-field-appearance-outline .mat-form-field-wrapper{
        padding: 10px 0px;
    }
}
.auth-login-box{
    width: 350px;
}

.site-top-icons {
    a{
        cursor: pointer;
    }
}

.site-navbar .site-top-icons ul, .site-navbar .site-top-icons ul li
{
    display: flex;
}

.order-history{
    margin: 10px 0px;
}

.order-history p{
    margin: 5px 0;
}